<div class="row">
  <div class="col-xs-10">
    <app-edit-shopping-list></app-edit-shopping-list>
    <hr />
    <ul class="list-group" style="list-style-type: none">
      <li *ngFor="let ingredient of ingredients; let i = index">
        <div class="list-group-item" style="border: none; padding: 0;">
          <input type="checkbox" name="ingredient" [checked]="ingredient.checked" (change)="onCheckChanged(i)" />
          <label for="ingredient"
                 [class]="ingredient.checked ? 'strikethrough': ''"
                 style="margin-left: 8px; cursor: pointer;"
                 (click)="onEditItem(i)">
            {{ ingredient.amount }} {{ ingredient.name }}
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
