<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 ngModel
                 required />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text"
                 class="form-control"
                 id="amount"
                 name="amount"
                 ngModel
                 required />
        </div>
        <div class="col-sm-1" style="text-align: end;">
          <button class="btn btn-primary" style="margin-top: 25px;" type="button" (click)="clearForm()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!f.valid">
            {{ editMode ? "Save" : "Add" }}
          </button>
          <button *ngIf="editMode"
                  class="btn btn-danger"
                  type="button"
                  (click)="onDelete()">
            Delete
          </button>
        </div>
        <div class="col-sm-5" style="text-align: end;">
          <button *ngIf="getIngredientCount() > 0"
                  class="btn btn-warning"
                  type="button"
                  (click)="onRemoveCheckedItems()">
            Remove Checked Items
          </button>
          <button *ngIf="getIngredientCount() > 0"
                  class="btn btn-danger"
                  type="button"
                  (click)="onClearList()">
            Clear List
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
